@CHARSET "UTF-8";
@import "./server-typo.css";
@import "./server-layout.css";
@import "./AniMaths-typo.css";

body {
	margin: 0;
	padding: 0;
}
h1 {
	top: 0;
	left: 0;
	margin: 0;
	margin-left: .5em;
}

#exerciseWording {
	font-size: 10pt;
	color:red;
  position:relative;
  padding-bottom: 0.5em;
  border-bottom-style:solid;
  border-bottom-color:red;
  width: *;

#srv-header { margin-bottom: 0;}
#srv-header .gwt-Button{
	padding:0 .25em;
	margin:0.05em 0.25em;
	float: right;
}

.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

math {
	-moz-user-select: none;
	font-size: 11pt;
	cursor: default;
}

/**
/* EQUATIONS LIST 
*/
#exerciseWording, #view {
	width: 70%;
}
#exerciseWording {
	padding:1em;
	width:auto;
}
#view {
  position:relative;
  width: *;
	float: left;
}

#view math {
	border-style:solid;
	border-color:black;
	width:75%;
	left:0em;
}


/*Attention � quelquechose*/
#drag math .caution {
	background-color: #FFFFDD;
	color: #FFFF33;
}

/*Impossible de l�cher*/
#drag math .no {
	background-color: #FFDDDD;
	color: #FF333;
}

#drag math .focus {
  	font-size: 14pt;
	color:red;
}

/**
/*HELP
*/
#help {
	float: right;
	/*height: 100%;*/
	height:auto;
	width: 22%;
	/*	position:absolute;
	top: 20%;
	left: 75%;
	width: 25%;
}


.table-center
{
    margin-left            :    auto;
    margin-right           :    auto;
}
