h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin-left: 2em;
}

math {
  -moz-user-select: none;	
  cursor: default;
}

math .selectable {
	background-color: #DDDDFF;
}

math .selected {
	background-color: #AAAAFF;
	cursor: -moz-grab;
}

math .dragged {
	background-color: #EEEEEE;
	color: #888888;
}

#exerciseWording {
	font-size: 10pt;
	color:red;
  position:relative;
  padding-bottom: 0.5em;
  border-bottom-style:solid;
  border-bottom-color:red;
  width: 75%;
}

math {
	font-size: 11pt;
}


/* EQUATIONS LIST */
#view {
  position:relative;
  width: 75%;
}

#view math {
	border-style:solid;
	border-color:black;
	width:50%;
	left:0em;
}
#view math * {
	cursor: pointer;
}
#view .selectable {
	background-color: #7CBBFF; /*blue*/
}
#view .selected {
	background-color: #9AFF60; /*green*/
	cursor: move;
} 

#help {
	border-style:solid;
	border-color:black;
	position:absolute;
	top: 20%;
	left: 75%;
	height: 80%;
	width: 25%;
}

#drag {
	position:absolute;
}