@CHARSET "UTF-8";

@import "./server-typo.css";

@import "./server-layout.css";

@import "./AniMaths-typo.css";

body {
	margin: 0;
	padding: 0;
}

h1 {
	top: 0;
	left: 0;
	margin: 0;
	margin-left: .5em;
}

#exerciseWording {
	font-size: 10pt;
	position: relative;
	padding: 1em;
	padding-bottom: 0.5em;
	width: *;
}

#srv-header {
	margin-bottom: 0;
}

#srv-header .gwt-Button {
	padding: 0 .25em;
	margin: 0.05em 0.25em;
	float: right;
}

.gwt-DialogBox {
	width:90%;
}

.dialogVPanel {
	margin: 5px;
}

math {
	-moz-user-select: none;
	font-size: 11pt;
	cursor: default;
}

/**
/* EQUATIONS LIST 
*/
#exerciseWording,#view {
	width: 70%;
}

#exerciseWording {
	padding: 1em;
	width: auto;
}

#view {
	position: relative;
	float: left;
	left: 0em;
	width: 60%;
	height: 60%;
	margin-top:1em;
	overflow:auto;
}

#dynamic {
	border-style:solid;
	border-color:blue;
}

#drag {
	position: absolute;
	z-index:10000;
}

/*OK pour lacher*/
#drag .ok {
	background-color: #DDFFDD;
	color: #33FF33;
}

/*Attention � quelquechose*/
#drag .caution {
	background-color: #FFCC00;
	color: #FFFFFF;
}

/*Impossible de l�cher*/
#drag .no {
	background-color: #FFDDDD;
	color: #FF3333;
}

math .focus {
	font-size: 14pt;
	color: red;
}

.table-center {
	margin-left: auto;
	margin-right: auto;
}

#message #box-icon {
	width:32px;
	float: left;
	margin: 1em;
}