@CHARSET "UTF-8";

@import "./server-typo.css";

@import "./server-layout.css";

@import "./AniMaths-typo.css";

body {
	margin: 0;
	padding: 0;
}

h1 {
	top: 0;
	left: 0;
	margin: 0;
	margin-left: .5em;
}

#exerciseWording {
	position: relative;
	padding: 1em;
	padding-bottom: 0.5em;
	width: *;
}

#srv-header {
	margin-bottom: 0;
}

#menu {
	display:inline-block;
}
#menu .gwt-Button, button.gwt-Button {
	padding: 0 .25em;
	margin: 0.05em 0;
}

.gwt-DialogBox {
	width: 90%;
}

.dialogVPanel {
	margin: 5px;
}

math {
	-moz-user-select: none;
	font-size: 11pt;
	cursor: default;
}

/**
/* EQUATIONS LIST 
*/
#exerciseWording,#view {
	width: 70%;
}

#exerciseWording {
	padding: 1em;
	width: auto;
}
#exerciseWording h2 {
	margin:0 auto 0.25em;
}
#view {
	position: relative;
	float: left;
	left: 0em;
	width: 60%;
	height: 60%;
	margin-top: 1em;
	overflow: auto;
}

#dynamic {
	border-style: solid;
	border-color: blue;
}

#drag {
	position: absolute;
	z-index: 10000;
	left: -99em;
}

#drag math>* {
	box-shadow: 2px 2px 5px #CCCCCC;
	-moz-box-shadow: 2px 2px 5px #CCCCCC;
}

/*OK pour lacher*/
#drag .ok {
	background-color: #DDFFDD;
	color: #33FF33;
}

/*Attention � quelquechose*/
#drag .caution {
	background-color: #FFCC00;
	color: #FFFFFF;
}

/*Impossible de l�cher*/
#drag .no {
	background-color: #FFDDDD;
	color: #FF3333;
}

math .focus {
	font-size: 14pt;
	color: red;
}

table {
	margin: 0 auto;
}

.table-center {
	margin-left: auto;
	margin-right: auto;
}

#message #box-icon {
	width: 32px;
	float: left;
	margin: 1em;
}

#message .gwt-Button {
	float: right;
}

#message td {
	vertical-align: middle;
}

dt {margin-top: .5em;}